@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@using Project.CSS.Revise.Web.Models.Pages.ProjectAndTargetRolling

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h4>Project target & rolling Tables</h4>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <svg class="stroke-icon">
                                <use xlink:href="@Url.Content("~/assets/svg/icon-sprite.svg#stroke-home")"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Setting</li>
                    <li class="breadcrumb-item active">Project target & rolling </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 box-col-12">
            <div class="md-sidebar">
                <a class="btn btn-primary email-aside-toggle md-sidebar-toggle">Job filter</a>
                <div class="md-sidebar-aside job-sidebar">
                    <div class="default-according style-1 faq-accordion job-accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Filter</button>
                                    </h2>
                                </div>
                                <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="card-body filter-cards-view animate-chk">
                                        <div class="row">
                                            <div class="job-filter mb-3 col-4">
                                                <label for="ddl_year" class="form-label fw-bold">Year</label>
                                                <select id="ddl_year" class="form-control multi-select" multiple></select>
                                            </div>
                                            <div class="job-filter mb-3 col-4">
                                                <label for="ddl_quarter" class="form-label fw-bold">Quarter</label>
                                                <select id="ddl_quarter" class="form-control multi-select" multiple>
                                                    <option value="Q1">Q1</option>
                                                    <option value="Q2">Q2</option>
                                                    <option value="Q3">Q3</option>
                                                    <option value="Q4">Q4</option>
                                                </select>
                                            </div>
                                            <div class="job-filter mb-3 col-4">
                                                <label for="ddl_month" class="form-label fw-bold">Month</label>
                                                <select id="ddl_month" class="form-control" multiple>
                                                    <option value="1">Jan</option>
                                                    <option value="2">Feb</option>
                                                    <option value="3">Mar</option>
                                                    <option value="4">Apr</option>
                                                    <option value="5">May</option>
                                                    <option value="6">Jun</option>
                                                    <option value="7">Jul</option>
                                                    <option value="8">Aug</option>
                                                    <option value="9">Sep</option>
                                                    <option value="10">Oct</option>
                                                    <option value="11">Nov</option>
                                                    <option value="12">Dec</option>
                                                </select>
                                            </div>
                                            <div class="job-filter mb-3 col-4">
                                                <label for="ddl_plantype" class="form-label fw-bold">Plan Type</label>
                                                <select id="ddl_plantype" class="form-control" multiple>
                                                    @if (ViewBag.ListPlanType != null)
                                                    {
                                                        foreach (var item in ViewBag.ListPlanType)
                                                        {
                                                            <option value="@item.ValueInt">@item.Text</option>
                                                        }
                                                    }
                                                </select>
                                            </div>

                                            <div class="job-filter mb-3 col-4">
                                                <label for="ddl_bug" class="form-label fw-bold">BUG</label>
                                                <select id="ddl_bug" class="form-control" multiple>
                                                    @if (ViewBag.listBu != null)
                                                    {
                                                        foreach (var item in ViewBag.listBu)
                                                        {
                                                            <option value="@item.ID">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>

                                            <div class="job-filter mb-3 col-4">
                                                <label for="ddl_project" class="form-label fw-bold">Project</label>
                                                <select id="ddl_project" class="form-control" multiple>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary text-center" type="button">Search 🔍 </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div id="rolling-plan-container" class="table-wrapper">
                <!-- table will be injected here -->
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
    <script src="~/js/Pages/ProjectTargetRolling/index.js?ver=@DateTime.Now.Ticks.ToString()"></script>
    <link rel="stylesheet" type="text/css" href="~/css/projectandtargetrolling.css?ver=@DateTime.Now.Ticks.ToString()">
}


