@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h4>Project</h4>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <svg class="stroke-icon">
                                <use xlink:href="@Url.Content("~/assets/svg/icon-sprite.svg#stroke-home")"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">Project</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row size-column">
        <div class="box-col-12">
            <!-- Filter Card -->
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row g-3 align-items-end">
                        <div class="col-12 col-sm-6 col-md-4">
                            <label for="ddl_company" class="form-label fw-bold">Company</label>
                            <select id="ddl_company" class="form-control" multiple>
                                @if (ViewBag.listCompany != null)
                                {
                                    foreach (var c in ViewBag.listCompany)
                                    {
                                        <option value="@c.ValueInt">@c.Text</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <label for="ddl_bug" class="form-label fw-bold">BUG</label>
                            <select id="ddl_bug" class="form-control" multiple>
                                @if (ViewBag.listBu != null)
                                {
                                    foreach (var b in ViewBag.listBu)
                                    {
                                        <option value="@b.ID">@b.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <label for="ddl_project" class="form-label fw-bold">Project</label>
                            <select id="ddl_project" class="form-control" multiple></select>
                        </div>

                        <!-- Actions -->
                        <div class="col-12">
                            <div class="d-flex justify-content-end gap-2 flex-wrap">
                                <button id="btnFilterCancel" type="button" class="btn btn-outline-secondary btn-sm">
                                    <i class="fa fa-undo me-1"></i> Cancel
                                </button>
                                <button id="btnFilterSearch" type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-search me-1"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/Pages/Project/Project.js?ver=@DateTime.Now.Ticks.ToString()"></script>
    <link rel="stylesheet" type="text/css" href="~/css/project.css?ver=@DateTime.Now.Ticks.ToString()">
}
